/*styles for index.html*/

h3 {
    color: red;
}
.AllMessages {
    grid-template-columns: 3;
    grid-template-rows: 5;
}
.MessageBox {
    height: 400px;
    width: 100%;
    background-color: #E7E3E3;
    border: 0.5px solid #000000;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    overflow-y: scroll;
}
.useronlinewrapper {
    width:29%;
}
.onlinebox{
    height: 400px;
    width: 100%;
    background-color: #E7E3E3;
    border: 0.5px solid #000000;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    overflow-y: scroll;
}
}
.dropdown {
    width: 80px;
    background-color: red;
    display: inline-block;
    list-style-type: none;
    overflow-x: scroll;
}
.dropdown li {
    float: left;
}
.Message {
    margin-top: 0px;
    margin-left: 10px;
}
.Message h3{
    font-size: 15px;
    width: 600px;
    margin-bottom: 3px; 
}
.Message p {
    font-size: 15px;
    width: 600px;
    margin: 0;
    display: inline-block;

}
.Message span{
    font-size: 10px;
}

.wrapper {
    width: 71%;
}
form {
    width: 100%;
    display: inline-flex;
}
input:first-child {
    width: 90%;
}
input:nth-child(2){
    width: 10%;
}